@model GymLedger.Views.Areas.Ledger.ExerciseDetailView

@{
    ViewBag.Title = $"{Model.Name} Exercise Details";
}

<div class="container mt-4">
    <div class="row">
        <!-- Sessions Line Chart Card-->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">Sets Progress BarChart</div>

                <div class="card-body">
                    <canvas id="sessionsLineChartExercise"></canvas>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between col-md-12">
                        <!-- Run Report button on the left -->
                        <button id="runReportSessions" class="btn btn-primary">Run Report</button>
                        <!-- Collapse button on the right -->
                        <small class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseSetsProgressBarchart" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-question fa-xs"></i>
                        </small>
                    </div>
                    <div class="collapse" id="collapseSetsProgressBarchart">
                        <div class="card card-body mt-2">
                            This graph shows you the difference of strength for this exercise per set as a % in the timeframe you have selected
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">
    <h2 class="mb-4">Sessions</h2>

    <table class="table bootTable"
           id="modalTable"
           data-toggle="table"
           data-url="@Url.Action("GetSessions", "Ledger", new {uniqueId = Model.UniqueId})"
           data-pagination="true"
           data-search="true"
           data-click-to-select="true"
           data-toolbar-align="left"
           data-show-refresh="true"
           data-cache="false"
           data-show-columns="true"
           data-toolbar="#sessionToolbar"
           data-mobile-responsive="true"
           data-page-list="[10, 25, 50, 100, all]"
           data-side-pagination="client"
           data-query-params="queryParams"
           @*           data-sort-name="DisplayOrder"*@
           data-sort-order="asc"
           data-unique-id="UniqueId">
        <thead>
            <tr>
                <th data-sortable="false" data-visible="false" data-field="UniqueId">UniqueId</th>
                <th data-sortable="true" data-field="Exercise">Exercise</th>
                <th data-sortable="true" data-field="DateAsString">Date</th>
                <th data-sortable="true" data-field="DateAddedAsString">Date Added</th>
                <th data-sortable="false" data-field="NumOfSets">Number of Sets</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="sessionToolbar">
    <button class="btn btn-light" id="addSession"><a href="@Url.Action("AddSession", "Ledger")"><i class="fa-solid fa-plus fa-lg"></i></a></button>
</div>

<div id="modalTableContainer"
     data-url="@Url.Action("GetSessionDetails", "Ledger")">
</div>

<!-- store URL for get exercises LedgerControlerr method -->
@*<div id="chartDataUrlExercise" data-url="@Url.Action("", "")" style="display:none;"></div>*@