
@{
    ViewBag.Title = "Exercises";
}

<div class="container mt-4">
    <div class="card card-body">

        <table class="table bootTable"
               id="exerciseTable"
               data-toggle="table"
               data-url="@Url.Action("GetExercises", "Ledger")"
               data-pagination="true"
               data-search="true"
               data-click-to-select="true"
               data-toolbar-align="left"
               data-show-refresh="true"
               data-toolbar="#exerciseToolbar"
               data-cache="false"
               data-show-columns="true"
               data-mobile-responsive="true"
               data-page-list="[10, 25, 50, 100, all]"
               data-side-pagination="client"
               data-query-params="queryParams"
               @*           data-sort-name="DisplayOrder"*@
               data-sort-order="asc"
               data-unique-id="UniqueId">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="Name">Name</th>
                    <th data-sortable="true" data-field="DateAddedAsString">Date Added</th>
                    <th data-sortable="false" data-visible="false" data-field="UniqueId">UniqueId</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="exerciseToolbar">
    <button class="btn btn-light" id="addExercise"><a><i class="fa-solid fa-plus fa-lg"></i></a></button>
</div>

<div id="exerciseTableContainer" 
     data-url="@Url.Action("GetExerciseDetails", "Ledger")">
</div>

<div id="addExerciseContainer"
     data-url="@Url.Action("AddExercisePartial", "Ledger")">
</div>

@Html.Hidden("AddExerciseUrl", Url.Action("AddExercise", "Ledger"))