
@{
    ViewBag.Title = "Ledger";
}


<ul>
    <li>
        <a href="@Url.Action("AddExercise", "Ledger")">Add Exercise</a>
    </li>
    <li>
        <a href="@Url.Action("Exercises", "Ledger")">View your Exercises</a>
    </li>
    <li>
        <a href="@Url.Action("AddSession", "Ledger")">Add Session</a>
    </li>
    <li>
        <a href="@Url.Action("Sessions", "Ledger")">View your Sessions</a>
    </li>
</ul>