@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="Title">
        <h2 id="title">Gym Ledger</h2>
        <p>Gym Ledger is an app that allows you to track every aspect of your weight training within the gym.</p>
        <p>
        Gym ledger has two main pieces of functionality:
        <br />Exercises: Exercises are just named exercises.<br />E.g. Bench Press, Lat Pulldown, Squats etc. This allows you to enter your own exercises to track instead of having to select from a preconfigured dropdown list.
        <br /><br />Sessions: Sessions are the sessions for that exercise. A session consists of Sets, reps and weight. A session allows you to track a specific session for an exercise.<br />For example: You walk into the gym and you want to train chest and triceps. In this case you will have multiple sessions. 1 for Bench Press (x amount of sets, each set has a weight that you used and the reps that you did), 1 for perhaps incline bench etc. 
        </p>
        <p>This selection of your own exercises and sessions per exercise allows for you to easily and accurately view your progress over a specific amount of time that you can change and amend based on your needs.</p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h4 id="gettingStartedTitle">About</h4>
            <p>
                Gym Ledger provides you with several different functionality relating to tracking your progress in the Gym. The first thing you need to do is to register an account.<br />
                Gym Ledger was created as a hobby project by Dawid Obszanski and continues to be updated regularly.<br />
                Gym Ledger was created by a gym goer, for experienced gym goers, beginners, intermediates or the curious individuals who roam among us.
                <br />
                This application started as a hobby for the simple reason of being able to reasonably, easily and simply track progress via various metrics.<br />
                It was also made because the solo developer wanted to play around with code and experiment making something he wanted to use himself :).
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h4 id="librariesTitle">Exercises</h4>
            <p>Once logged in you can add an exercise that will be linked to your account, from within the exercises table when clicking on the exercise you want to view you can click "go to exercise". Here you will see all of your progress for this specific exercise</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h4 id="hostingTitle">Gym Sessions</h4>
            <p>You can easily add session data by going into the sessions section and simply adding a session using the + above the table of sessions.</p>
        </section>
    </div>
</main>