@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="Title">
        <h2 id="title">Gym Ledger</h2>
        <p>Gym Ledger is a product that allows you to track and view your progress across different exercises</p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h4 id="gettingStartedTitle">About</h4>
            <p>
                Gym Ledger provides you with several different functionality. The first thing you need to do is to register an account.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h4 id="librariesTitle">Exercises</h4>
            <p>Once logged in you can add an exercise that will be linked to your account, you can also remove any exercise e.g. if there was a spelling mistake</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h4 id="hostingTitle">Gym Sessions</h4>
            <p>You can easily add data by clicking an exercise, and then simply adding a session, and then adding sets. Per set you have the option to add Weight & Reps.</p>
        </section>
    </div>
</main>